.message-box {
  padding: 20px;
  margin-top: 30px;
  border-radius: 25px;
  background: #e6e6e6;
  width: 100%;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 36px;
    margin: 6px 0;
    .img-text-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    p {
      text-align: left;
      line-height: 22px;
    }
  }
  .message.my-message {
    flex-direction: row-reverse;
    .img-text-wrapper {
      flex-direction: row-reverse;
    }
  }
  .user-image {
    max-width: 22px;
    height: auto;
    border-radius: 50%;
    margin: 5px 10px;
  }
  .time {
    color: #696969;
    font-size: 12px;
    margin: 0 10px;
  }
}
