.message-box {
  width: 70%;
  padding: 20px;
  margin: 5px 0 22px 0;
  border: none;
  border-radius: 25px;
  background: #e6e6e6;
  resize: none;
  min-height: 200px;
  @media (min-width: 768px) {
    width: 40%;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .message {
    color: #282c34;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 36px;
    padding: 2px;
    margin: 6px 0;
    .img-text {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    p {
      text-align: left;
    }
  }
  .message.my-message {
    flex-direction: row-reverse;
    .img-text {
      flex-direction: row-reverse;
    }
  }
  .user-image {
    max-width: 20px;
    height: auto;
    background-color: grey;
    border-radius: 50%;
    padding: 3px;
    margin: 5px 10px;
  }
  .time {
    color: grey;
    font-size: 12px;
    padding: 0 5px;
  }
  input {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
}
